<main>
    <div class="wrapper-grade">
        <div id="title">
            <h1 id="title1"></h1>
        </div>
        <div class="main1">
            <p class="text-align-center">
                Alphabetical
            </p>
        </div>
        <div class="utilities-center">
            <div class="all-FavoriteCenter">
                <div class="img-FavoriteCenter">
                    <img width="45px" src="/img/Screenshot_2023-06-20_161200-removebg-preview.png" alt="">
                </div>
                <div class="Favorite-center">
                    <a>AddFavorite</a>
                </div>
            </div>
            <div class="all-FullscreenCenter">
                <div class="img-ullscreenCenter">
                    <img width="45px" src="/img/Screenshot_2023-06-20_162009-removebg-preview.png" alt="">
                </div>
                <div class="Fullscreen-center">
                    <a>FullScreen</a>
                </div>
            </div>
        </div>
        <div class="Center-new-img">
            <div class="slide-Show">
                <div class="child">
                    <img src="/img/rocket__1_-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="Gif-child-center">
                <img width="600px" height="400px" src="/img/d757e9a82c599ab4634ebc5f20dbc82f.gif" alt="">
            </div>
            <div class="img-thank-you-right">
                <img src="/img/staticSkyscraper-41cae68649c13b53cb60.png" alt="">
            </div>
        </div>
        <div class="img-Center">
            <img src="/img/planetBgGradeK_xl-ea10df355c02c50dfad7.png" alt="">
        </div>
    </div>
    <div class="MainA-center">
        <div class="MainA1-center">
            <a href="http://localhost:2101/aboutA">
                <img src="/img/1.png" alt="">
            </a>
            <div class="word-maina-center">
                <p>Apple, Age, Antelope, Ape</p>
            </div>
        </div>
        <div class="MainA2-center">
            <a href="http://localhost:2101/aboutB">
                <img src="/img/2.png" alt="">
            </a>
            <div class="word-maina-center">
                <p>
                    Bat, Bear, Bison, Boa
                </p>
            </div>
        </div>
        <div class="MainA3-center">
            <a href="http://localhost:2101/aboutC">
                <img src="/img/3.png" alt="">
            </a>
            <div class="word-maina-center">
                <p>Cat, Cow, Crab</p>
            </div>
        </div>
    </div>
    <div class="Main-best">
        <ul class="Main-best-list">
            <li class="Main-best-1">
                <a href="http://localhost:2101/aboutA">A</a>
            </li>
            <li class="Main-best-2">
                <a href="http://localhost:2101/aboutB">B</a>
            </li>
            <li class="Main-best-3">
                <a href="http://localhost:2101/aboutC">C</a>
            </li>
            <li class="Main-best-4">
                <a href="http://localhost:2101/aboutD">D</a>
            </li>
            <li class="Main-best-5">
                <a href="http://localhost:2101/aboutE">E</a>
            </li>
            <li class="Main-best-6">
                <a href="http://localhost:2101/aboutF">F</a>
            </li>
            <li class="Main-best-7">
                <a href="http://localhost:2101/aboutG">G</a>
            </li>
            <li class="Main-best-8">
                <a href="http://localhost:2101/aboutH">H</a>
            </li>
            <li class="Main-best-9">
                <a href="http://localhost:2101/aboutI">I</a>
            </li>
            <li class="Main-best-10">
                <a href="http://localhost:2101/aboutJ">J</a>
            </li>
            <li class="Main-best-11">
                <a href="http://localhost:2101/aboutK">K</a>
            </li>
            <li class="Main-best-12">
                <a href="http://localhost:2101/aboutL">L</a>
            </li>
            <li class="Main-best-13">
                <a href="http://localhost:2101/aboutM">M</a>
            </li>
        </ul>
        <ul>
            <li class="Main-best-14">
                <a href="#">N</a>
            </li>
            <li class="Main-best-15">
                <a href="#">O</a>
            </li>
            <li class="Main-best-16">
                <a href="#">P</a>
            </li>
            <li class="Main-best-17">
                <a href="#">Q</a>
            </li>
            <li class="Main-best-18">
                <a href="#">R</a>
            </li>
            <li class="Main-best-19">
                <a href="#">S</a>
            </li>
            <li class="Main-best-20">
                <a href="#">T</a>
            </li>
            <li class="Main-best-21">
                <a href="#">U</a>
            </li>
            <li class="Main-best-22">
                <a href="#">V</a>
            </li>
            <li class="Main-best-23">
                <a href="#">W</a>
            </li>
            <li class="Main-best-24">
                <a href="#">X</a>
            </li>
            <li class="Main-best-25">
                <a href="#">Y</a>
            </li>
            <li class="Main-best-26">
                <a href="#">Z</a>
            </li>
        </ul>
    </div>
    <div Class="Img-cut-Home1">
        <p>The Leader in Educational for Kids!</p>
    </div>
    <div id="Book-MainA-center" class="MainA-center">
        <div class="MainA1-center">
            <a
                href="https://newshop.vn/dr-seusss-abc-bang-chu-cai-tieng-anh-cua-dr-seuss.html?gclid=CjwKCAjwg-GjBhBnEiwAMUvNW-5iJZbZhz2Kwvu2gEnT6AvQewmrYcBhuk-rAvtqWhQWWoW3VJ10URoC_NMQAvD_BwE">
                <img src="/img/book1.jpg" alt="">
            </a>
            <div class="word-maina1-center">
                <p></p>
            </div>
        </div>
        <div class="MainA2-center">
            <a
                href="https://www.teacherspayteachers.com/Product/Alphabetimals-HUGE-Alphabet-Fun-Pack-200-Printable-Animal-ABC-Activities-4533766">
                <img src="/img/book2.avif" alt="">

            </a>
            <div class="word-maina2-center">
                <p>

                </p>
            </div>
        </div>
        <div class="MainA3-center">
            <a href="https://beecost.vn/sach-be-tap-to-be-hoc-chu-chu-cai-tieng-anh-p.1__3961188092__46725128">
                <img src="/img/book3.jpg" alt="">
            </a>
            <div class="word-maina3-center">
                <p></p>
            </div>
        </div>
    </div>
</main>