<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Answer.css">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>
            Kết Quả
        </h1>
        <div class="answer">
            <p>{{sum}}/5</p>
        </div>
        <div>
            <h2>Em Đã Làm Rất Tốt</h2>
        </div>
        <div class="BackHome">
            <a href="http://localhost:2101/">Trở Về Trang Chủ</a>
        </div>
    </main>
</body>

</html>