<main>
    <h1>
        Các nội dung kiểm tra chất lượng học tập của các bé
    </h1>
    <div class="test-main-center">

        <div class="Exercise-main-center">
            <div class="Exercise-1-main-center">
                <div class="img-Exercise-1-main-center">
                    <img src="/img/test.png" alt="">
                </div>
                <div>
                    <a class="Link-exercise-1-main-center" href="http://localhost:2101/data">
                        <h2>Bài Kiểm Tra 1</h2>
                        <p>Có Rất nhiều nội dung cho các em ôn tập hãy tập trung nhé....</p>
                    </a>
                </div>
            </div>
            <div class="Exercise-1-main-center">
                <div class="img-Exercise-1-main-center">
                    <img src="/img/test.png" alt="">
                </div>
                <div>
                    <a class="Link-exercise-1-main-center" href="#">
                        <h2>Bài Kiểm Tra 2</h2>
                        <p>Có Rất nhiều nội dung cho các em ôn tập hãy tập trung nhé....</p>
                    </a>
                </div>
            </div>
            <div class="Exercise-1-main-center">
                <div class="img-Exercise-1-main-center">
                    <img src="/img/test.png" alt="">
                </div>
                <div>
                    <a class="Link-exercise-1-main-center" href="#">
                        <h2>Bài Kiểm Tra 3</h2>
                        <p>Có Rất nhiều nội dung cho các em ôn tập hãy tập trung nhé....</p>
                    </a>
                </div>
            </div>

            <div class="Exercise-1-main-center">
                <div class="img-Exercise-1-main-center">
                    <img src="/img/test.png" alt="">
                </div>
                <div>
                    <a class="Link-exercise-1-main-center" href="#">
                        <h2>Bài Kiểm Tra 4</h2>
                        <p>Có Rất nhiều nội dung cho các em ôn tập hãy tập trung nhé....</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- test -->

</main>