<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/css/Sign.css">
</head>

<body>
    <main>
        <form>
            <h2>Sign Up</h2>
            <section>
                <label for="fisrt">
                    First Name
                </label>
                <label for="last">
                    Last Name
                </label>
            </section>
            <section>
                <input type="text" id="first" placeholder="Tên...">
                <input type="text" id="last" placeholder="Họ...">

            </section>
            <section>
                <label for="fisrt">
                    Email
                </label>
                <label for="last">
                    Phone
                </label>
            </section>
            <section>
                <input type="text" id="email" placeholder="abc@.gmail">
                <input type="text" id="phone" placeholder="+84xxxxxxx">

            </section>
            <label for="address">Địa Chỉ</label>
            <input type="text" id="address">
            <input type="submit" value="Sign In">
        </form>
    </main>

</body>

</html>