<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ M</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa M
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/M2.png" alt="" onclick="playMouse('M.mp3')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường m
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/m.png" alt="" onclick="playMouse('M.mp3')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/M5-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Mule( Con La )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng M
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Menu: Thực đơn
                </li>
                <li>
                    Most: Hơn hết, phần lớn
                </li>
                <li>
                    Male: Trai, trống, đực; con trai, đàn ông, con trống, đực
                </li>
                <li>
                    Mind: Săn sóc
                </li>
                <li>
                    Moon: Mặt trăng
                </li>
                <li>
                    Milk: Sữa
                </li>
                <li>
                    Meet: Gặp gỡ
                </li>
                <li>
                    Main: Chủ yếu
                </li>
                <li>
                    Move: Di chuyển
                </li>
                <li>
                    Many: Vô số, nhiều
                </li>
                <li>
                    More: Hơn, nhiều hơn nữa, thêm
                </li>
                <li>
                    Mark: Dấu, nhãn, nhãn mác; đánh dấu, ghi dấu

                </li>
                <li>
                    Mass: Khối, khối lượng; quần chúng, đại chúng

                </li>
                <li>
                    Meat: Thịt
                </li>
                <li>
                    Melt: Tan ra, chảy ra; làm tan chảy ra
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>