<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ A</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa A
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/5conen.png" alt="" onclick="playMouse('A.mp3')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường a
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/6conen.png" alt="" onclick="playMouse('A.mp3')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/A-linhduong.avif" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Antelope(Linh Dương)
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng A
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Add: thêm vào
                </li>
                <li>
                    Age: tuổi tác
                </li>
                <li>
                    And: và
                </li>
                <li>
                    Anniversary: kỉ niệm
                </li>
                <li>
                    Achievement: thành tích, thành tựu
                </li>
                <li>
                    Auto: tự động
                </li>
                <li>
                    Away: xa cách, rời xa
                </li>
                <li>
                    Army: quân đội
                </li>
                <li>
                    Alow: ôi chao
                </li>
                <li>
                    Aunt: cô
                </li>
                <li>
                    Area: khu vực, địa điểm
                </li>
                <li>
                    Aphid

                </li>
                <li>
                    Arctic Fox

                </li>
                <li>
                    Arctic Hare
                </li>
                <li>
                    Armadillo
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>