<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ B</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa B
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/B2.png" alt="" onclick="playMouse('B.mp3')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường b
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/b.png" alt="" onclick="playMouse('B.mp3')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/B7-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Boar( Heo Rừng )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng B
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Bird: con chim
                </li>
                <li>
                    Body: thân thể
                </li>
                <li>
                    Busy: bận
                </li>
                <li>
                    Burn: đốt cháy
                </li>
                <li>
                    Best: tốt nhất
                </li>
                <li>
                    Boil: sôi, luộc
                </li>
                <li>
                    Bend: bẻ cong
                </li>
                <li>
                    Army: quân đội
                </li>
                <li>
                    Back: trở lại
                </li>
                <li>
                    Aunt: cô
                </li>
                <li>
                    Belt: thắt lưng
                </li>
                <li>
                    Bake: nung, nướng bằng lò

                </li>
                <li>
                    Band: băng, đai, nẹp

                </li>
                <li>
                    Bite: cắn
                </li>
                <li>
                    Bank: bờ, ngân hàng
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>