<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ L</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa L
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/L2.png" alt="" onclick="playMouse('L.m4a')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường l
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/l.png" alt="" onclick="playMouse('L.m4a')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/L5-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Leopard( Báo )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng L
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Likewise: tương tự, hơn nữa
                </li>
                <li>
                    Literary: văn học
                </li>
                <li>
                    Lifetime: cả đời
                </li>
                <li>
                    Luncheon: bữa ăn trưa, tiệc trưa
                </li>
                <li>
                    Literacy: trình độ học vấn
                </li>
                <li>
                    Limiting: hạn chế, giới hạn
                </li>
                <li>
                    Legendary: huyền thoại
                </li>
                <li>
                    Lifestyle: cách sống
                </li>
                <li>
                    Luxurious: sang trọng
                </li>
                <li>
                    Liability: trách nhiệm pháp lý
                </li>
                <li>
                    Limestone: đá vôi
                </li>
                <li>
                    Liquidity: tính trong suốt

                </li>
                <li>
                    Localized: chậm chân tại chỗ, bản địa

                </li>
                <li>
                    Landscape: phong cảnh
                </li>
                <li>
                    Lightning: tia chớp
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>