<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ J</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa J
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/J2.png" alt="" onclick="playMouse('J.m4a')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường j
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/j1.png" alt="" onclick="playMouse('J.m4a')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/J2-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Jackrabbit( Thỏ Rừng )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng J
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Joy: vui sướng
                </li>
                <li>
                    Jam: mứt
                </li>
                <li>
                    Job: nghề nghiệp
                </li>
                <li>
                    Jar: cái lọ
                </li>
                <li>
                    Jaw: hàm
                </li>
                <li>
                    Jump: nhảy
                </li>
                <li>
                    July: tháng bảy
                </li>
                <li>
                    June: tháng sáu
                </li>
                <li>
                    Just: chỉ, vừa mới
                </li>
                <li>
                    Join: tham gia
                </li>
                <li>
                    Jack: giắc cắm
                </li>
                <li>
                    Joke: trò cười, lời nói đùa

                </li>
                <li>
                    Judge: thẩm phán

                </li>
                <li>
                    Juice: nước ép
                </li>
                <li>
                    Joint: chung, khớp
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>