<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ I</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa I
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/I2.png" alt="" onclick="playMouse('I.m4a')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường i
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/i.png" alt="" onclick="playMouse('I.m4a')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/I4-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Impala( Linh Dương )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng I
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Icon: biểu tượng
                </li>
                <li>
                    Idea: ý tưởng
                </li>
                <li>
                    Iron: sắt
                </li>
                <li>
                    Item: mục
                </li>
                <li>
                    Into: vào trong
                </li>
                <li>
                    Inch: đơn vị đo chiều dài Anh bằng 2, 54 cm
                </li>
                <li>
                    Image: hình ảnh
                </li>
                <li>
                    Index: mục lục
                </li>
                <li>
                    Input: đầu vào
                </li>
                <li>
                    Issue: vấn đề
                </li>
                <li>
                    Ideal: lý tưởng
                </li>
                <li>
                    Irony: trớ trêu

                </li>
                <li>
                    Imply: bao hàm, ngụ ý

                </li>
                <li>
                    Idiom: cách diễn đạt
                </li>
                <li>
                    Inter: hấp dẫn
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>