<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ E</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa E
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/E2.png" alt="" onclick="playMouse('E.mp3')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường e
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/e.png" alt="" onclick="playMouse('E.mp3')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/E2-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Eagle( Chim Ưng )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng E
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Eight: Số tám
                </li>
                <li>
                    Enjoy: Thích thú
                </li>
                <li>
                    Effectivenesses: Hiệu quả
                </li>
                <li>
                    Enough: Đủ
                </li>
                <li>
                    Either: Hoặc
                </li>
                <li>
                    Easily: Dễ dàng
                </li>
                <li>
                    Effect: Ảnh hưởng
                </li>
                <li>
                    Estate: Động sản
                </li>
                <li>
                    Except: Ngoại trừ
                </li>
                <li>
                    Expect: Chờ đợi
                </li>
                <li>
                    Energy: Năng lượng
                </li>
                <li>
                    Effort: Cố gắng

                </li>
                <li>
                    Engine: Động cơ

                </li>
                <li>
                    Ensure: Đảm bảo
                </li>
                <li>
                    Enable: Kích hoạt
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>