<main>
    <div id="title">
        <h1 id="title1">Những Từ Bắt Đầu Bằng Chữ D</h1>
    </div>
    <div class="main1">
        <p class="text-align-center">

        </p>
    </div>
    <div class="Main-center-content">
        <div class="block-main-center">
            <div class="title-main-center">
                <h2>
                    Chữ hoa D
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/D2.png" alt="" onclick="playMouse('D.m4a')">

                    </figure>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="block-main-center1">
            <div class="title-main-center">
                <h2>
                    Chữ Thường d
                </h2>
            </div>
            <div class="Content-explain">
                <div>
                    <figure class="img-tag-unbound">
                        <img src="/img/d1.png" alt="" onclick="playMouse('D.m4a')">
                    </figure>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="middle-compartment-main">
        <div class="middle-compartment">
            <img src="/img/D3-300x300.png" alt="">
        </div>
        <div class="title-middle-compartment">
            <h2 style="color: white;">
                Dolphin( Cá Heo )
            </h2>
        </div>
    </div>
    <div class="information-main">
        <div class="information-img">
            <img style="margin-top: 30px;" src="/img/ThongtinChuA.avif" alt="">
        </div>
        <div class="information-word">
            <h2>
                Danh sách những từ có theo bảng chữ cái bắt đầu bằng D
            </h2>
            <p></p>
            <ol class="list-information-main">
                <li>
                    Draw: vẽ tranh
                </li>
                <li>
                    Date: ngày
                </li>
                <li>
                    Damn: chỉ trích
                </li>
                <li>
                    Disc: đĩa
                </li>
                <li>
                    Dare: dám, thách
                </li>
                <li>
                    Down: xuống
                </li>
                <li>
                    Debt: nợ
                </li>
                <li>
                    Deal: đối phó, giao dịch
                </li>
                <li>
                    Drop: rơi vãi
                </li>
                <li>
                    Drag: lôi kéo
                </li>
                <li>
                    Draw: vẽ
                </li>
                <li>
                    Drum: cái trống

                </li>
                <li>
                    Dirt: chất bẩn, đồ bẩn thỉu

                </li>
                <li>
                    Directory: danh mục
                </li>
                <li>
                    Departure: khởi hành
                </li>

            </ol>
            <p>

            </p>
        </div>




    </div>


</main>