<footer>
    <div class="content1">
        <div class="footer1">
            <span class="PhoneMe">Di Động: 0329456404</span>
        </Div>
        <div class="content2">
            <span>@2023</span>
        </div>
        <Div class="SocialNetwork">
            <a class="" href=""> <i class="fa-brands fa-facebook fa-xs"></i></a>
            <a class="" href=""><i class="fa-brands fa-twitter fa-xs"></i></a>
            <a class="" href=""> <i class="fa-brands fa-youtube fa-xs"></i></a>
            <a class="" href=""> <i class="fa-brands fa-instagram fa-xs"></i></a>
            <a class="" href=""> <i class="fa-solid fa-square-envelope fa-xs"></i></a>
        </Div>
    </div>
</footer>