<header>
    <div id="nav1">
        <a href="http://localhost:2101"><img href="http://localhost:2101" id="imgLoGo"
                src="/img/AlphabetChild-removebg-preview.png" alt=""></a>
        <form action="#" class="WordSearch">
            <input type="search" id="search" placeholder="Search..." />
            <button type="submit"><i class="fa-solid fa-magnifying-glass fa-xs"></i></button>
        </form>

    </div>
    <nav id="Nav-Big">
        <div class="design-main-nav">
            <div id="Home1-Nav">
                <a style="color:#ff4664;" class="Home2-Nav" href="http://localhost:2101">
                    Home
                </a>
            </div>
            <div id="Book-Nav">
                <a style="color: #ffcd2b;" class="Book1-Nav" href="#Book-MainA-center">
                    Sách
                </a>
            </div>
            <!-- <div id="Video-Nav">
                    <a style="color: #ff4224;" class="Video1-Nav" href="">
                        Video
                    </a>
                </div> -->
            <div id="Test-Nav">
                <a style="color: #1e4fbc;" class="Test1-Nav" href="http://localhost:2101/kiemtra">
                    Kiểm Tra
                </a>
            </div>
        </div>
        <div class="design-login-nav">
            <div id="log-in-Nav">
                <a style="color: #9ec412;" class="log-in1-Nav" href="http://localhost:2101/Login">
                    Đăng Nhập
                </a>
            </div>
            <div id="register-Nav">
                <a style="color: #ad329b;" class="register1-Nav" href="http://localhost:2101/Sign">
                    Đăng Ký
                </a>
            </div>
        </div>
    </nav>
</header>